.THIS.bb {
    width: 540px;
    height: 350px;
    border: 1px solid blue;
    margin-left: 50px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: skyblue;   
}